<h1>Listing people</h1>
<br/>
<%= link_to "All records",people_path %>
<br/><br/>
<%= render "/shared/search" %>
<table>
  <tr>
    <th>Name</th>
    <th>Postcode</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.postcode.number %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
