<fieldset style="width:600px">
  <legend>Search</legend>
<%= form_tag people_path, :method => "get" do %>
      <div class="field">
  <%= label_tag :email %>
  <%= search_field_tag :email, params[:email] %>
        
        <select id="condition" name="condition">
          <option></option>
          <option>include</option>
          <option>exclude</option>
          <option>from</option>
        </select>
  <%= label_tag :postcodes, "Postcodes (coma separated)" %>
  <%= search_field_tag :postcodes, params[:postcodes] %>
  </div>







  <%= submit_tag "Search", :name => nil %>
<% end %>
</fieldset>
<br />