<fieldset style="width:860px">
  <legend>Search</legend>
<%= form_tag people_path, :method => "get" do %>
      <div class="field">
     <%= label_tag :email, "People who have email" %>
        <select id="email_condition" name="email_condition">
          <option value="like">like</option>
          <option value="not_like">not like</option>
        </select>


  <%= search_field_tag :email, params[:email] %>
        and
        <select id="postcode_condition" name="postcode_condition">
          <option value="from">from</option>
          <option value="not_from">not from</option>
        </select>
  <%= label_tag :postcodes, "Postcodes (coma separated)" %>
  <%= search_field_tag :postcodes, params[:postcodes] %>
  </div>







  <%= submit_tag "Search", :name => nil %>
<% end %>
</fieldset>
<br />